#select {
  padding: 15px;
}

#paragraph {
  margin: 0;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.active {
  background-color: blue;
  color: white;
}

#button {
  padding: 7px;
  cursor: pointer;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 3px;
}

#button:focus {
  outline: none;
}

#background-color {
  margin-top: 10px;
}

#text-color {
  margin-top: 10px;
}

#red1, #green1, #blue1, #red2, #green2, #blue2 {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}

#swatch {
  width: 130px;
  height: 120px;
  margin-top: 10px;
  margin-left: 350px;
  background-image: none;
  padding: 4px;
}

#text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

#red1 .ui-slider-range { background: #ef2929; }
#red1 .ui-slider-handle { border-color: #ef2929; }
#green1 .ui-slider-range { background: #8ae234; }
#green1 .ui-slider-handle { border-color: #8ae234; }
#blue1 .ui-slider-range { background: #729fcf; }
#blue1 .ui-slider-handle { border-color: #729fcf; }
#red2 .ui-slider-range { background: #ef2929; }
#red2 .ui-slider-handle { border-color: #ef2929; }
#green2 .ui-slider-range { background: #8ae234; }
#green2 .ui-slider-handle { border-color: #8ae234; }
#blue2 .ui-slider-range { background: #729fcf; }
#blue2 .ui-slider-handle { border-color: #729fcf; }